In [1]:
import pandas as pd
import numpy as np
from dateutil import parser

In [11]:
# Load file
df = pd.read_excel("Messy Patient Data.xlsx")
df

,Patient_ID,Name,Age,Gender,Date_of_Admission,Date_of_Diagnosis,Date_of_Treatment_Start,Date_of_Surgery,Date_of_Discharge,Follow_up_Visit
0,PID1000,Patient_0,71,Male,12/13-2023,2024-09-13 00:00:00,42535,2018-03-13 00:00:00,10.11.2023,20213-01-01
1,PID1001,Patient_1,34,Male,2024-10-16 00:00:00,2023-08-05 00:00:00,43008,2016-10-25 00:00:00,2024-04-29 00:00:00,2024-06-01 00:00:00
2,PID1010,Patient_2,57,Female,"April 31, 2022","Friday, November 11, 2016",43120,2018-06-25 00:00:00,2023-05-04 00:00:00,2003-02-01 00:00:00
3,PID1100,Patient_3,24,Female,03/21/2024,13.04.2024,43120,2018-06-25 00:00:00,2024-09-10 00:00:00,2023-12-04 00:00:00
4,PID1101,Patient_4,33,Male,2024-04-09 00:00:00,2023-03-16 00:00:00,43120,2017-04-22 00:00:00,2023-04-04 00:00:00,2023-12-04 00:00:00
...,...,...,...,...,...,...,...,...,...,...
127,PID1095,Patient_127,54,Female,12/13-2023,2018-12-10 00:00:00,2018-12-14 00:00:00,20213-01-01,20240520,45019
128,PID1096,Patient_128,84,Male,NaN,2017-11-26 00:00:00,2018-12-15 00:00:00,2024-12-13 00:00:00,2023-03-24 00:00:00,2024-03-16 00:00:00
129,PID1097,Patient_129,66,Male,2024-07-03 00:00:00,2017-11-26 00:00:00,2018-12-16 00:00:00,?,18.03.2024,NaN
130,PID1098,Patient_130,22,Male,18.10.2024,2016-11-18 00:00:00,2018-12-17 00:00:00,2024-04-04 00:00:00,NaN,46184
131,PID1099,Patient_131,20,Female,2023-04-25 00:00:00,2023-05-15 00:00:00,2018-12-17 00:00:00,2003-02-01 00:00:00,NaN,NaN

In [13]:
# To clean and standardize data
def clean_date(val):
    if pd.isna(val):
        return np.nan
    try:
        if isinstance(val, (int, float)):
            return pd.to_datetime("1899-12-30") + pd.to_timedelta(val, unit="D")
        elif isinstance(val, str):
            val = val.replace("(estimated)", "").strip()
            return parser.parse(val, dayfirst=False, fuzzy=True)
        else:
            return pd.to_datetime(val, errors="coerce")
    except Exception:
        return np.nan

        # Clean all date columns
date_cols = [
    "Date_of_Admission",
    "Date_of_Diagnosis",
    "Date_of_Treatment_Start",
    "Date_of_Surgery",
    "Date_of_Discharge",
    "Follow_up_Visit"
]
for col in date_cols:
    df[col] = df[col].apply(clean_date)

    # Save cleaned data to new excel
df.to_excel("Cleaned_Patient_Data.xlsx", index=False)

In [16]:
import pandas as pd
import numpy as np

In [18]:
# Load file
df_clean = pd.read_excel("Cleaned_Patient_Data.xlsx")
df_clean

,Patient_ID,Name,Age,Gender,Date_of_Admission,Date_of_Diagnosis,Date_of_Treatment_Start,Date_of_Surgery,Date_of_Discharge,Follow_up_Visit
0,PID1000,Patient_0,71,Male,2023-12-13,2024-09-13,2016-06-14,2018-03-13,2023-10-11,NaT
1,PID1001,Patient_1,34,Male,2024-10-16,2023-08-05,2017-09-30,2016-10-25,2024-04-29,2024-06-01
2,PID1010,Patient_2,57,Female,NaT,2016-11-11,2018-01-20,2018-06-25,2023-05-04,2003-02-01
3,PID1100,Patient_3,24,Female,2024-03-21,2024-04-13,2018-01-20,2018-06-25,2024-09-10,2023-12-04
4,PID1101,Patient_4,33,Male,2024-04-09,2023-03-16,2018-01-20,2017-04-22,2023-04-04,2023-12-04
...,...,...,...,...,...,...,...,...,...,...
127,PID1095,Patient_127,54,Female,2023-12-13,2018-12-10,2018-12-14,NaT,NaT,2023-04-03
128,PID1096,Patient_128,84,Male,NaT,2017-11-26,2018-12-15,2024-12-13,2023-03-24,2024-03-16
129,PID1097,Patient_129,66,Male,2024-07-03,2017-11-26,2018-12-16,NaT,2024-03-18,NaT
130,PID1098,Patient_130,22,Male,2024-10-18,2016-11-18,2018-12-17,2024-04-04,NaT,2026-06-11
131,PID1099,Patient_131,20,Female,2023-04-25,2023-05-15,2018-12-17,2003-02-01,NaT,NaT